/* CSS Sheet for homepage */



 .dropbtn {
	background-image: url(sitebackalt.gif);
	color: black;
	padding: 30px;
	font-size: 16px;
	border-image-source: url(sitebackalt.gif);
	border-image-width: 100px;
	width: 1660px;
	
	



}

.dropdown {

	position: relative;
	display: inline-block;
}


.dropdown-content {

	display: none;
	position: center;
	background-color: black;
	min-width: 16px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;


}

.dropdown-content a {
	
	color: white;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	font: 15px Lucida Console Regular ;



}

.dropdown-content a:hover {background-color: black;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: black;}